<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

  <title>Document</title>
</head>
<body>
<nav>
  <a href="#"><img th:src="@{/img/logo.png}" alt="" class="logo"></a>
  <a href="#"><img th:src="@{/img/gear.png}" alt="settings icon" class="settings"></a>
</nav>
<div class="container">
  <aside >
    <ul class="containerAside">
      <li><a href="./index.html">Página Inicial</a></li>
      <hr>
      <li><a th:href="@{/v1/pessoas}">Pessoas</a></li>
      <ul class="fallback">
        <li><a href="./cadastroPessoaForm.html  ">Cadastrar Pessoa</a></li>
      </ul>
      <hr>
    </ul>
  </aside>
  <div class="containerMain">
    <h1 class="cadTitle">Cadastrar Pessoa</h1>
    <div class="formCad">
      <form th:action="@{/salvarPessoa}" id="cadPessoas" th:object="${cadastrarPessoa}" method="POST">
        <h3>Informações Gerais</h3>
        <input type="text" placeholder="Nome: " name="nome" id="nome" th:field="*{nome}">
        <input type="text" placeholder="Razão Social: " name="razaoSocial" id="razaoSocial"  th:field="*{razaoSocial}">
        <input type="text" placeholder="Nome Fantasia: " name="nomeFantasia" id="nomeFantasia" th:field="*{nomeFantasia}">
        <input type="text" placeholder="CPF: " name="cpf" id="cpf"  th:field="*{cpf}">
        <input type="text" placeholder="CNPJ: " name="cnpj" id="cnpj" th:field="*{cnpj}">
        <br>
        <select name="tipoCadastro" id="tipoCadastro">
          <option value="cliente">Cliente</option>
          <option value="colaborador">Colaborador</option>
          <option value="fornecedor">Fornecedor</option>
        </select>
        <select name="tipoPessoa" id="tipoPessoa" >
          <option value="fisica">Fisíca</option>
          <option value="juridica">Juridica</option>
        </select>
        <br>
        <h3>Contato: </h3>
        <input type="email" id="email" placeholder="Email: " name="email" th:field="*{email}" >
        <input type="text" id="telefone" placeholder="Telefone" name="telefone" th:field="*{telefone}">
        <h3>Endereço: </h3>
        <input type="text" placeholder="Rua: " name="rua" id="rua"  th:field="*{rua}">
        <input type="text" placeholder="CEP: " name="cep" id="cep" th:field="*{cep}">
        <br>
        <input type="text" placeholder="Cidade: " name="cidade" id="cidade" th:field="*{cidade}">
        <input type="text" placeholder="Estado: " name="estado" id="estado" th:field="*{estado}">
        <br>
        <input type="number" placeholder="Número: " name="numero" id="numero" th:field="*{numero}">
        <input type="text" placeholder="Completo: " name="completo" id="complemento" th:field="*{complemento}">
        <br>
        <button type="submit" class="addButton saveBtn">Salvar</button>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>