<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <title>Cadastro de Pessoas</title>
</head>
<body>
<nav>
    <a href="#"><img th:src="@{/img/logo.png}" alt="" class="logo"></a>
    <a href="#"><img th:src="@{/img/gear.png}" alt="settings icon" class="settings"></a>
</nav>
<div class="container">
    <aside >
        <ul class="containerAside">
            <li><a th:href="@{/}">Página Inicial</a></li>
            <hr>
            <li><a th:href="@{/v1/pessoas}">Pessoas</a></li>
            <ul class="fallback">
                <li><a th:href="@{/v1/pessoas/cadastrar}">Cadastrar Pessoa</a></li>
            </ul>
            <hr>
        </ul>
    </aside>
    <main class="containerMain">
        <div class="cadastros">
            <h1>Cadastro de Pessoas</h1>
            <input type="text" class="search" id="valorTeste">
            <a th:href="@{/v1/pessoas/cadastrar}"><button class="addButton">Cadastrar</button></a>
            <table border="1" width="100%" height="auto">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Pessoa</th>
                    <th>Tipo de Cadastro</th>
                </tr>
                </thead>

                <tbody id="tabelaPessoas">

                </tbody>
            </table>
        </div>
    </main>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>